<a href="https://colab.research.google.com/github/Blusooyeon/Studying_for_Bigdata_Test/blob/main/T1_1_outlier_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 이상치를 찾아라 (IQR 활용)
titanic 데이터에서 IQR 을 이용해 Fare 컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오.

In [3]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('/content/train.csv')

In [4]:
# 간단한 EDA
print(df.shape)
print(df.isnull().sum())
df.head()

(891, 12)
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# IQR 구하기
Q1 = df['Fare'].quantile(.25)
Q3 = df['Fare'].quantile(.75)

IQR = Q3 - Q1
Q1 - 1.5*IQR , Q3 + 1.5*IQR

(-26.724, 65.6344)

In [6]:
# 이상치 데이터 구하기
outdata1 = df[df['Fare'] < -26.724]
outdata2 = df[df['Fare'] > 65.6344]

len(outdata1), len(outdata2)

(0, 116)

In [7]:
# 이상치 데이터 중에 여성 수 구하기
print(sum(outdata2['Sex'] == 'female'))

70

✅Check   
1. quantile(.25) , quantile(.75) -->  1분위수, 3분위수 기억하기
2. 이상치 측정 범위  : Q1 - 1.5IQR ~ Q3 + 1.5IQR