<a href="https://colab.research.google.com/github/Blusooyeon/Studying_for_Bigdata_Test/blob/main/T1_21_binning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 나이 구간 나누기
basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오           
(이상치는 음수(0포함), 소수점 값)

In [1]:
import pandas as pd

df = pd.read_csv('/content/basic1.csv')

In [2]:
# 음수(0포함), 소수점 제거
df = df[~(df['age'] <= 0 )]

df = df[(df['age'] == round(df['age'],0))]

In [3]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
# 분할 기준 확인
pd.qcut(df['age'], q=3)

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [5]:
# 구간 분할
df['range'] = pd.qcut(df['age'], q=3, labels=['g1','g2','g3'])

In [6]:
# 수량 비교
df['range'].value_counts()

g1    30
g2    30
g3    30
Name: range, dtype: int64

In [7]:
# 결과 출력
g1_med = df[df['range'] == 'g1']['age'].median()
g2_med = df[df['range'] == 'g2']['age'].median()
g3_med = df[df['range'] == 'g3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0

✅check
1. 분할 기준 확인       
pd.qcut(df['age'], q=3)
2. 분할            
pd.qcut(df['age'], q=3, labels=['group1','group2','group3'])
3. 분할 후 수량 비교             
df['range'].value_counts()