<a href="https://colab.research.google.com/github/Blusooyeon/Studying_for_Bigdata_Test/blob/main/T1_3_Missingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 결측치 처리
주어진 데이터에서 결측치가 80% 이상 되는 컬럼은 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city' 별 중앙값으로 값을 대체하고 'f1' 컬럼의 평균값을 출력하세요 !

In [17]:
#라이브러리 및 데이터 불러오기

import pandas as pd
import numpy as np

df = pd.read_csv('/content/basic1.csv')
df.shape

(100, 8)

In [18]:
# EDA, 결측값 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [19]:
# 결측 비율 확인
df.isnull().sum() / 100

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [20]:
# f3 컬럼 삭제
df = df.drop(['f3'],axis=1)
df.shape

(100, 7)

In [21]:
# 도시 확인
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [22]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s,k,b,d

(68.0, 58.0, 62.0, 75.0)

In [23]:
# f1 결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

In [26]:
# 결과 출력
print(df['f1'].mean())

65.52

✅ Check      
1. 컬럼 삭제 코드 기억하기 !     
df = df.drop(['f3'],axis=1)
2. 오브젝트 확인하는 코드     
df['city'].unique()
3. 항목별 중앙값으로 대체 할때 map 함수 사용    
df['f1']= df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))